<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>


<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id risus tincidunt, molestie enim a, vulputate mi. Quisque a urna at quam efficitur vehicula. Ut faucibus urna non mattis ultricies. Vivamus id elit interdum, maximus mauris at, volutpat turpis. Integer in ante non ex ultrices consequat. Praesent nec lacus dapibus, ornare libero placerat, volutpat turpis. Sed eleifend ullamcorper mauris, ut vehicula erat condimentum id. Pellentesque at venenatis risus. Nam at condimentum felis. Nunc odio nisl, volutpat nec neque vel, commodo varius neque. Aliquam pharetra, ex sed maximus dapibus, nisi est semper sapien, sit amet volutpat diam ipsum in justo. Sed auctor sodales tempor. Morbi erat augue, pretium eget facilisis eget, tristique vitae elit. Maecenas finibus, tellus eget euismod aliquam, nunc quam semper ex, eu fermentum urna arcu at dui. Aliquam vitae urna erat. Proin ullamcorper elementum risus ut mattis.
    </p>
</article>